# Ignore temporary files
*.jar
*.pyc
*.pyo
*.pyd
*.swp
common_names.txt
temp_audio.wav

# Ignore Python scripts not needed in the repo
cuda.py
directory.py
script.py

# Ignore directories
diarization_model_path/
models/
path/
sentiment_model/
whisper_model/
uploads/

# Ignore download scripts
download_distilbert-base-uncased.py
download_sentiment_model.py
download_whisper_model.py

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db
